@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 75rem;
    margin: 0 auto;
    padding: 1.25rem;
}
.btn{
    background: linear-gradient(45deg, #ff4ecd, #7c7cff);
    border: none;
     padding:0.625rem 1.125rem;
     color: white;
     cursor: pointer;
     border-radius: 20px;
     
     align-items: center;
     display: flex;
     gap: 0.5rem;
}

/* navber style  */

body{
   background-color: #1A0B2E;
   color: #ffffff;
    
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}
.logo span{
    color: #ff4ecd;
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 1.875rem;
}
.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

/* hero section */
.hero{
    min-height: 100vh;
    background: url(../assets/hero-bg.png) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-contant{
    max-width: 40rem;
    padding: 1.5rem;
    padding-top: 0;
    margin-bottom: 6rem;
}
.hero-image{
    position: relative;
    width: 26rem;
    margin: 0 auto;
    
}
.img-back{
    width: 100%;
    height: 100%;
}
.img-front{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 7rem;
    animation: rotateCircle 14s linear infinite;
}
@keyframes rotateCircle{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.badge-new{
    position: absolute;
    top: 12px;
    left: 75%;
    background: #00FF88;
    color: #242323;
    font-size: 1rem;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 27px #00ff888e;

}
.hero-title{
  font-size: 2.5em;
  margin: 2.5rem;
  color: #ffffff;
}
.hero-title span{
    color: #ff4ecd;
}
.hero-text{
    font-size: 1rem;
    color: #ffffff;
    opacity: .8;
}
.hero-btn{
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn-outline{
    background: transparent;
    border: 1px solid #ffffff;
}

#about{
    /* padding-top: 3.125rem; */
    padding: 3.125rem 12.5rem; 7.25rem
}
.about-container{
    text-align: center;
    color: #ffffff;
}
.section-heading{
    text-align: center;
    margin: o auto;
}
.section-heading h2{
    font-weight: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5em;
}
.section-heading p{
    font-size: 1rem;
    margin-bottom: 5rem;
    line-height: 1.25rem;
    opacity: .85;
}
.about-line{
    border: 1px solid #ffffff0e;
    margin-bottom: 5rem;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card h3{
    color: #00FF88;
    font-weight: 3rem;
    font-size: 2.5rem;
}
.info-card p{
    font-size: 1rem;
    font-weight: 1.25rem;
}

/* why section  */
.why{
    padding: 6.7rem 12.5rem;
    background-color: #230E3D;
}
.why-container{
    max-width: 75rem;
    margin: auto;
}
.why-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.why-box{
    display: grid;
    gap: 1.5rem; 
    grid-template-columns: repeat(3, 1fr);
}
.why-card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 1.5rem;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why-card img{
    width: 3rem;
    margin-bottom: 2.5rem;
}
.why-card h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.why-card p{
     font-size: 1rem;
     line-height: 1.5rem;
     color: #ffffff;
     opacity: .85;
}
.tall{
    grid-row: span 2;
}
.wide{
    grid-column: span 2;
}
.small{
    grid-column: span 1;
}
.media-section{
    padding: 5rem 0;
    color: #ffffff;
}
.media-container{
    max-width: 75rem;
    margin:  auto;
}
.media-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    margin-top: 7.5rem;
}
.media-box{
    max-width: 75rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.media-card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
}
.media-card:hover{
    transform: translateY(-6px);
}
.vedio-box{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;aspect-ratio: 16/9;
}
.vedio-box iframe{
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}
.media-card h3{
    font-size: 1 1rem;
    margin: 1rem 0 .5rem;
}
.media-card p{
    font-size: .9rem;
    opacity: .85; 
}
.time{
    display: inline-block;
    margin-top: .6rem;
    font-size: .85rem;
    color: #00FF88;
}
.host-card{
    max-width: 75rem;
    margin: 4rem auto 0;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 1rem;
    padding: 2rem;
   display: flex;
   gap: 2rem;
   align-items: center;
}
.host-contant h3, p{
    margin-bottom: 1rem;
}
.icon{
    display: flex;
    gap: 1rem;
    border: 1px solod #ffffff;
}
.footer{
    background: url(../assets/footer-bg.png) no-repeat center;
    background-size: cover;
    padding: 4rem 1rem;
} 
.footer-container{
    text-align: center;
    color: #ffffff;
}  
.footer-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.footer-title span{
    color: #ff4ecd;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}
.icon-box{
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.75rem;
    opacity: 0.85;
}
.icon-box img{
    width: 28px;
    height: 28px;
    margin-bottom: 0.3rem;
}
.footer-text{
    font-size: 0.8rem;
    gap: 1.2rem;
}
@media screen and (max-width:576px) {
    .why-box{
        grid-template-columns: 1fr;
    }
    .why-card{
        width: 100%;
    }
    .tall,
    .wide,
    .small{
        grid-column: auto;
        grid-row: auto;
    }
    .why-title{
        font-size: 2rem;
    }
}

